.cover__subtitle {
  max-width  : 288px;
  margin     : 0;
  text-align : center;
  font-style : normal;
  font-weight: 400;
  font-size  : 14px;
  line-height: 1.14;
  z-index    : 1;
}

@media (min-width: 440px) {
  .cover__subtitle {
    font-size: 16px;
    max-width: 320px;
  }
}

@media (min-width: 500px) {
  .cover__subtitle {
    font-size: 16px;
    max-width: 330px;
  }
}

@media (min-width: 560px) {
  .cover__subtitle {
    font-size  : 18px;
    line-height: 1.222;
    max-width  : 360px;
  }
}