.header__leng-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .header__leng-link {
    font-size: 24px;
    line-height: 1.2;
  }
}