.lead__image {
  display: block;
  min-width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .lead__image {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .lead__image {
    padding: 0 148px;
  }
}