.intro {
  font-style: normal;
  margin: 0;
  max-width: 690px;
  padding: 0 16px 64px;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 24px 88px;
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .intro {
    max-width: 690px;
    padding: 0 0 92px 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    max-width: 690px;
    padding: 0 0 92px 148px;
  }
}