.cover__title {
  max-width: 288px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.01;
  z-index: 1;
  position: relative;
}

@media (min-width: 440px) {
  .cover__title {
    font-size: 34px;
  }
}

@media (min-width: 500px) {
  .cover__title {
    font-size: 40px;
    max-width: 380px;
    margin-bottom: 32px;
  }
}

@media (min-width: 720px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media (min-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media (min-width: 1280px) {
  .cover__title {
    margin-top: 245px;
  }
}