.place {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.place:last-of-type {
  margin: 0;
}

/*@media (min-width: 540px) {
  .place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 48px 28px;
    margin-bottom: 73px;
  }
} */

@media (min-width: 768px) {
  .place {
    display: grid;
    /* grid-template-columns: minmax(320px, 460px) 1fr;
    grid-template-columns: 340fr 352fr;
    grid-template-rows: auto auto; */
    /*grid-template-columns: repeat(auto-fit, minmax(340rf 352fr)); */
    /*grid-template-columns: repeat(auto-fit, minmax(340px, 460px)) minmax(352px, 484px); */
    grid-template-columns: repeat(auto-fit, minmax(340px, 460px)) 352px;
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media (min-width: 1024px) {
  .place {
    /*grid-template-columns: 440fr 456fr; */
    /*grid-template-columns: repeat(auto-fit, minmax(440fr, 456fr)); */
    grid-template-columns: repeat(auto-fit, minmax(340px, 460px)) 454px;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .place {
    /* grid-template-columns: 460fr 484fr; */
    /*grid-template-columns: repeat(auto-fit, minmax(460fr, 484fr)); */
    grid-template-columns: repeat(auto-fit, minmax(340px, 460px)) 484px;
    gap: 48px 40px;
  }
}