.place {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .place {
    display: grid;
    /* grid-template-columns: minmax(320px, 460px) 1fr; */
    grid-template-columns: 340fr 352fr;
    grid-template-rows: auto auto;
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media (min-width: 1024px) {
  .place {
    grid-template-columns: 440fr 456fr;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: 460fr 484fr;
    gap: 48px 40px;
    margin-bottom: 80px;
  }
}

.place:last-of-type {
  margin: 0;
}