.intro__title {
  margin: 0;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
  text-align: start;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }
}